:root {
    --color-violeta: #270B3D;
    --color-lila: #D2A6D6;
    --color-gris: #D9D9D9;
    --color-gris-oscuro: #1E1E1E;
    --color-negro: rgb(0, 0, 0);
    --color-blanco: rgb(252, 248, 248);
    --fuente-1: 'Nunito', sans-serif;
    --fuente-2: 'Cairo', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: var(--color-gris);
    text-align: center;
    font-family: var(--fuente-2)
    font-weight: bold;
  }

  
#caja_del_header{
    background-color: var(--color-gris);
    height: 4rem;
    display: flex;
    flex-direction: row;
}

#Isologotipo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    font-family: var(--fuente-1);
    font-size: xx-large;
    font-weight: bolder;
}

#botones_header{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly
}

#circulo_usuario{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

#circulo{
    width: 3.5rem;
    height: 3.5rem;
    background: var(--color-lila);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: var(--color-gris-oscuro) 10px;
}

.top_div_styles{
    font-family: var(--fuente-1);
    font-size: large;
    font-weight: bold;
}

