<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finder</title>
    <!---ESTILOS--->
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <!--FUENTES-->
    <!--Fuente1-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap" rel="stylesheet">
    <!--Fuente2-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap" rel="stylesheet">
    <!--BOXICONS-->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <!-- Header, encargado = Facu -->
        <div id="caja_del_header">
            <div id="Isologotipo">FINDER<i class='bx bxs-donate-heart bx-md' style='color:#d2a6d6'></i></i></div>
            <div id="botones_header">
                <div class="top_div_styles">Boton 1</div>
                <div class="top_div_styles">Boton 2</div>
                <div class="top_div_styles">Boton 3</div>
                <div class="top_div_styles">Boton 4</div>
            </div>
            <div id="circulo_usuario">
                <div id="circulo"></div>
                <a href="login.html" class="circulo"></a>
            </div>
        </div>
    </header>
    <main>
        <aside class="Listadechats">
            <!-- Lista de la izquierda, encargada = Melanie -->
                <div class="matchs">
                    <div class="avatar">
                        <img src="https://robohash.org/moleng?size=50x50&setstiaeetsit.p=set1"> 
                    </div>
                    <p style="grid-column: span 4;">Nombre</p>  
                    <div class="chat"><p>Hola ¿como estas?</p></div>
                </div>
                <div class="matchs">
                    <div class="avatar">
                        <img src="https://robohash.org/quilaudantiumea.png?size=50x50&set=set1">
                    </div>
                    <p style="grid-column: span 4;">Nombre</p>
                    <div class="chat"><p>Hola ¿como estas?</p></div>
                </div>
                <div class="matchs">
                    <div class="avatar">
                        <img src="https://robohash.org/mollitiaquisquammodi.png?size=50x50&set=set1">
                    </div>
                    <p style="grid-column: span 4;">Nombre</p>  
                    <div class="chat"><p>Hola ¿como estas?</p></div>
                </div>
                <div class="matchs">
                    <div class="avatar">
                        <img src="https://robohash.org/nihilautvoluptatem.png?size=50x50&set=set1">
                    </div>
                    <p style="grid-column: span 4">Nombre</p>  
                    <div class="chat"><p>Hola ¿como estas?</p></div>
                </div>
                <div class="matchs">
                    <div class="avatar">
                        <img src="https://robohash.org/etquamaut.png?size=50x50&set=set1">
                    </div>
                    <p style="grid-column: span 4">Nombre</p>  
                    <div class="chat"><p>Hola ¿como estas?</p></div>
                </div>
        </aside>
        <section id="CartaPrincipal">
            <!-- Carta principal, encargada = Damaris -->
                <div id="Container">
                    <div id="EspacioFoto">
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="https://www.rappler.com/tachyon/2022/05/love-death-robots-three.jpg"></div>
                            <div class="swiper-slide"><img src="https://therpf-f28a.kxcdn.com/forums/data/avatars/h/160/160119.jpg?1559226147"></div>
                            <div class="swiper-slide"><img src="https://content.internetvideoarchive.com/content/hdphotos/13937/013937/013937_1365x768_637866043164751552.jpg"></div>
                            <div class="swiper-slide"><img src="https://helios-i.mashable.com/imagery/videos/01Dij3BqFtVjvlRUsZnz6CS/hero-image.fill.size_1200x1200.v1652950209.png"></div>
                            <!-- <div class="swiper-slide">Slide 5</div>
                            <div class="swiper-slide">Slide 6</div>
                            <div class="swiper-slide">Slide 7</div>
                            <div class="swiper-slide">Slide 8</div>
                            <div class="swiper-slide">Slide 9</div> -->
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                    <div id="EspacioDescripcion">
                        <div id="Nombre"><h1>ROBOTIN</h1></div>
                        <div id="Edad"><p>202</p></div>
                        <div id="Gustos">
                            <ul>
                                <li id="gusto1">gusto</li>
                                <li id="gusto2">gusto</li>
                                <li id="gusto3">gusto</li>
                            </ul>
                        </div>
                        <div id="Descripcion"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem molestiae delectus corporis eaque ut inventore ullam perspiciatis quas, numquam molestias rerum libero pariatur laboriosam quisquam incidunt ducimus, deserunt reprehenderit sint.</p></div>
                    </div>
                </div>
                <div id="EspacioBotones">
                    <button id="si"><i class='bx bx-check'></i></button>
                    <button id="no"><i class='bx bx-x' ></i></button>
                </div>
            </div>
        </section>
        <div id="prueba" style="display: none;">
            <!-- Seccion de login que será desplegable, encargada = Brisa -->
        </div>
    </main>
    <footer>
        <!-- Footer, encargado = John -->
        <div class="footer"><strong>Copyright © 2022 Todos los derechos reservados Finder.<br>
            Servicio al cliente - finder69@gmail.com<br>Con amor<br>-Los creadores de Finder.</strong>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="/script/script.js"></script>
</body>
</html>