<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/estilos.css">
    <!-- <link rel="stylesheet" href="css/estilosLogin.css"> -->
<!--fuente-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,200&display=swap" rel="stylesheet">
<!--boxicons-->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>

<body id="login_fondo">
    <div class="app">
        <div id="selector_login_registro" style="display:flex">
            <button @click="desplegarLogin">{{login}}</button><br>
            <button @click="desplegarRegistro">{{reg}}</button>
        </div>
        <form action="" id="login" style="display:none">
            <div id="Isologotipo_login">FINDER<i class='bx bxs-donate-heart bx-md' style='color:#d2a6d6'></i></i></div>
            <!-- <h1 class="titulo">Bienvenido</h1> --><br>
            <label>
                <i class="bx bx-user"></i>
                <input type="text" id="Nombre de usuario">
            </label>
            <label>
                <i class="bx bxs-lock-alt"></i>
                <input type="contrase単a" id="Contrase単a">
            </label><br>
            <a href="#" class="link">Olvidaste tu Contrase単a?</a>
            <button class="boton"><a href="/">Login</a></button>
        </form>
        <form action="" id="registro" style="display:none">
            <div id="Isologotipo_login">FINDER<i class='bx bxs-donate-heart bx-md' style='color:#d2a6d6'></i></i></div>
            <label>
                <i class="bx bx-user"></i>
                <input type="text" v-model="nuevoNombre">
            </label>
            <label>
                <i class="bx bxs-lock-alt"></i>
                <input type="text" v-model="nuevoApellido">
            </label>
            <label>
                <i class="bx bx-user"></i>
                <input type="text" v-model="nuevoCorreo">
            </label>
            <label>
                <i class="bx bxs-lock-alt"></i>
                <input type="text" v-model="nuevaContrase単a">
            </label>
            <button class="boton">{{registro}}</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="/script/vue.js"></script>
</body>

</html>