<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/estilos.css">
    <!-- <link rel="stylesheet" href="css/estilosLogin.css"> -->
<!--fuente-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,200&display=swap" rel="stylesheet">
<!--boxicons-->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>

<body id="login_fondo">
    <div class="app">
        <div id="selector_login_registro" style="display:flex">
            <button @click="desplegarLogin">{{login}}</button><br>
            <button @click="desplegarRegistro">{{reg}}</button>
        </div>
        <form action="" id="login" style="display:none">
            <div id="Isologotipo_login">FINDER<i class='bx bxs-donate-heart bx-md' style='color:#d2a6d6'></i></i></div>
            <!-- <h1 class="titulo">Bienvenido</h1> --><br>
            <label>
                <i class="bx bx-user"></i>
                <input type="text" id="Nombre de usuario">
            </label>
            <label>
                <i class="bx bxs-lock-alt"></i>
                <input type="contraseña" id="Contraseña">
            </label><br>
            <a href="#" class="link">Olvidaste tu Contraseña?</a>
            <button class="boton"><a href="/">Login</a></button>
        </form>
        <form action="" id="registro" style="display:none" method="post">
            <div id="Isologotipo_login">FINDER<i class='bx bxs-donate-heart bx-md' style='color:#d2a6d6'></i></i></div>
            <label>
                <i class="bx bx-user"></i>
                <input type="name" name="username" placeholder="Nombre">
            </label>
            <label>
                <i class='bx bx-calendar'></i>
                <input type="number" name="age" placeholder="Edad">
            </label>
            <label>
                <i class='bx bxl-gmail'></i>
                <input type="email" name="email" placeholder="Correo electronico">
            </label>
            <label>
                <i class="bx bxs-lock-alt"></i>
                <input type="password" name="password" placeholder="Contraseña">
            </label>
            <div class="intereses">
                <i class='bx bx-male-female'></i>
                <label for="interesUno">Interes n°1:
                    <select name="interesUno" id="interesUno">
                        <option value="football">Futbol</option>
                        <option value="sports">Deportes</option>
                        <option value="videogames">Videojuegos</option>
                        <option value="coffee">Tomar café</option>
                        <option value="pasear">Pasear</option>
                        <option value="boardgames">Juegos de mesa</option>
                        <option value="dance">Bailar</option>
                        <option value="sing">Cantar</option>
                      </select>
                </label>
            </div>
            <div class="intereses">
                <i class='bx bx-male-female'></i>
                <label for="interesDos">Interes n°2:
                    <select name="interesDos" id="interesDos">
                        <option value="football">Futbol</option>
                        <option value="sports">Deportes</option>
                        <option value="videogames">Videojuegos</option>
                        <option value="coffee">Tomar café</option>
                        <option value="pasear">Pasear</option>
                        <option value="boardgames">Juegos de mesa</option>
                        <option value="dance">Bailar</option>
                        <option value="sing">Cantar</option>
                      </select>
                </label>
            </div>            
            <div class="intereses">
                <i class='bx bx-male-female'></i>
                <label for="interesTres">Interes n°3:
                    <select name="interesTres" id="interesTres">
                        <option value="football">Futbol</option>
                        <option value="sports">Deportes</option>
                        <option value="videogames">Videojuegos</option>
                        <option value="coffee">Tomar café</option>
                        <option value="pasear">Pasear</option>
                        <option value="boardgames">Juegos de mesa</option>
                        <option value="dance">Bailar</option>
                        <option value="sing">Cantar</option>
                      </select>
                </label>
            </div>
            <div id="imgContainer">
                <i class='bx bxs-camera-plus'></i>
                <label id="imagenes">Selecciona las imagenes que quieras: 
                    <input type="file" multiple>
                </label>
            </div><br>
            <input type="submit" value="Haz click aqui para registrarte">
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="/script/vue.js"></script>
</body>

</html>