:root {
    --color-violeta: #270B3D;
    --color-lila: #D2A6D6;
    --color-gris: #D9D9D9;
    --color-gris-sombra: rgb(153, 144, 144);
    --color-gris-oscuro: #1E1E1E;
    --color-negro: rgb(0, 0, 0);
    --color-blanco: rgb(252, 248, 248);
    --color-verde: rgb(99, 182, 120);
    --color-verde-oscuro: rgb(38, 74, 38);
    --color-rojo:  rgb(173, 82, 82);
    --color-rojo-oscuro:  rgb(101, 47, 47);
    --fuente-1: 'Nunito', sans-serif;
    --fuente-2: 'Cairo', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--color-violeta)
}
.dark{
    background-color: var(--color-negro);
}

main{
    display: flex;
    flex-direction: row;
    padding: 3rem;
    justify-content: space-between;
}
/* HEADER */

#caja_del_header{
    background-color: var(--color-gris);
    height: 4rem;
    display: flex;
    flex-direction: row;
}

body.dark #caja_del_header{
    background-color: var(--color-gris-oscuro);
    color: var(--color-blanco);
    box-shadow: 0.2rem 0.2rem 2.5rem var(--color-lila)
}

body.dark .Listadechats{
    background-color: var(--color-gris-oscuro);
    box-shadow: 0.2rem 0.2rem 3rem var(--color-lila)
}

body.dark #CartaPrincipal{
    background-color: var(--color-gris-oscuro);
    box-shadow: 0.2rem 0.2rem 3rem var(--color-lila)
}

body.dark #prueba{
    background-color: var(--color-gris-oscuro);
    color: var(--color-blanco);
    box-shadow: 0.2rem 0.2rem 3rem var(--color-lila)
}

body.dark footer{
    background-color: var(--color-gris-oscuro);
    color: var(--color-blanco);
    box-shadow: 0.2rem 0.2rem 3rem var(--color-lila)
}

#Isologotipo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    font-family: var(--fuente-1);
    font-size: xx-large;
    font-weight: bolder;
}

#botones_header{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#circulo_usuario{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

#circulo{
    width: 3.5rem;
    height: 3.5rem;
    background: var(--color-lila);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: var(--color-gris-oscuro) 10px;
}

#caja_boton_toggle{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#switch{
    width: 50%;
    height: 50%;
    border-radius: 5rem;
    background-color: var(--color-negro);
}
#lunita{
    font-size: 1.2rem;
}

/*LISTA DEL HEADER*/

.top_div_styles{
    font-family: var(--fuente-1);
    font-size: large;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.top_div_styles:hover{
    text-decoration: underline;
}

.top_div_styles:hover .tooltip-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tooltip-box{
    display: none;
	position: absolute;
	background: #000;
	line-height: 20px;
	z-index: 500;
	color: #fff;
	font-size: 1rem;
    padding: 10px;
	border-radius: 0.5rem;
    top: 3rem;
    width: 20%;
}

#prueba{
    background-color: white;
    width: 20%;
    position: absolute;
    left: 65rem;
	z-index: 499;
	height: 70%;
	bottom: 7rem;
	border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 1rem var(--color-gris-oscuro);
}
/* CARTA PRINCIPAL */

#CartaPrincipal{
    background-color: var(--color-gris);
    width: 53%;
    height: 33rem;
    margin: 1rem 3rem;
    border-radius: 1rem;
}
#Container{
    display: flex;
    flex-direction: row;
    height: 80%;
}
#EspacioFoto{
    background-color: var(--color-lila);
    width: 55%;
    margin: 2rem 2rem;
    box-shadow: 0rem 0.3rem 0.3rem var(--color-gris-sombra);
    border-radius: 0.3rem;
}
/* #EspacioFoto img{
    width: 100%;
    height: 100%;
} */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgb(82, 71, 71);

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#EspacioDescripcion{
    background-color: var(--color-lila);
    width: 30%;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0rem 0.3rem 0.3rem var(--color-gris-sombra);
    border-radius: 0.3rem;
    display: block;
}
#EspacioBotones{
    margin: 0.4rem 2rem;
    display: flex;
    flex-direction: row;
    height: 12%;
}
#si{
    width: 50%;
    background-color: var(--color-verde);
    border-radius: 2rem;
    border: rgb(100, 176, 100) solid;
}
#si:hover{
    background-color: var(--color-verde-oscuro);
}
#si:hover .bx{
    color: var(--color-blanco);
}
#no{
    width: 50%;
    background-color: var(--color-rojo);
    border-radius: 2rem;
    border: rgb(177, 90, 90) solid ;
}
#no:hover{
    background-color: var(--color-rojo-oscuro);
}
#no:hover .bx{
    color: var(--color-blanco);
}
.bx{
    font-size: 3rem;
}

#Nombre{
    font-family: var(--fuente-2);
    padding-left: 0.5rem;
}
#Edad{
    font-family: var(--fuente-1);
    font-weight: bold;
    padding-left: 0.5rem;
}
#Gustos{
    font-family: var(--fuente-1);
    font-weight: bold;
    padding-left: 1.5rem;
}
#Descripcion{
    font-family: var(--fuente-1);
    font-weight: bold;
    font-size: 0.9rem;
    padding-left: 0.5rem;
}




/*TABLERO MATCHS*/

.Listadechats{
    background-color: var(--color-gris);
    width: 25%;  
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
    padding: 2%;
    font-family: var(--fuente-1);
    font-weight: 600;
    border-radius: 1rem;
}

.avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(57, 10, 228, 0.541) ;
    grid-column: span 2;
    grid-row: span 3;
    position: relative;
    align-self: center;
}

.avatar img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.matchs{
    background-color: var(--color-lila);
    width: 100%;
    box-shadow: 0rem 0.2rem 0.2rem var(--color-gris-sombra);

    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 1fr 1fr 1fr;
    padding: 4%;
    border-radius: 0.3rem;
}

.chat {
    grid-column: span 4;
    grid-row: span 2; 
    font-size: 14px; 
    background-color: rgb(182, 135, 235); 
    border-radius: 25px 25px 25px 0; 
    padding: 10px;
    border: rgb(174, 125, 231) solid 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* FOOTER */

footer{
    padding: 0.7rem;
    background-color: var(--color-gris);
    display: flex;
    align-items: center;
    position: relative;
    top: 4rem;
}

#texto{
    width: 30%;
    font-family: var(--fuente-2);
    font-weight: bold;
}

#iconos_redes{
    width: 20%;
    display: flex;
    flex-direction: column;
}

#iconos_redes div{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--fuente-2);
    font-weight: bold;
}

.texto_lorem{
    width: 25%;
    font-family: var(--fuente-2);
    font-weight: lighter;
    font-size: smaller;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--color-lila);
    text-align: center;
    padding: 20px 25px;
    box-shadow: 0.5rem 0.5rem 2rem var(--color-violeta);
    border-radius: 0.7rem;
    font-family: var(--fuente-1);
}

form .titulo {
    color: black;
    font-size: 35px;
    font-weight: 800;
    /* margin-bottom: 30px; */
    
}

label{
    display: flex;
    align-items: center;
}

.boton{
    background-color: var(--color-violeta);
    border-radius: 0.7rem;
    box-shadow: 0.5rem 0.5rem 2rem var(--color-violeta);
    color: var(--color-blanco)
}
.boton a{
    color: var(--color-blanco);
}

#Isologotipo_login{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--fuente-1);
    font-size: xx-large;
    font-weight: bolder;
    background-color: var(--color-violeta);
    border-radius: 0.7rem;
    box-shadow: 0.2rem 0.2rem 2rem var(--color-violeta)
}

#login_fondo{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background: linear-gradient(to right, #4c007d,rgb(144, 85, 144)); */
    background-image: url(../img/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#selector_login_registro{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-lila);
    box-shadow: 0.2rem 0.2rem 2rem var(--color-violeta);
    border-radius: 0.7rem;
    border: 0.2rem solid var(--color-violeta);
    width: 10rem;
    height: 10rem;
}

#selector_login_registro button{
    background-color: var(--color-violeta);
    box-shadow: 0.2rem 0.2rem 1rem var(--color-violeta);
    color: var(--color-blanco);
    border-radius: 0.7rem;
    width: 70%;
    height: 15%;
}

.intereses{
    display: flex;
    align-items: center;
}

#imagenes{
    display: flex;
    flex-direction: column;
}

#imgContainer{
    display: flex;
}
/* aaaa */